main {
	padding: 20px;
	line-height: 1.6;
	background-color: #f4f4f4;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.scientist-wrapper{
	margin-bottom: 20px;
	padding: 20px;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-direction: column-reverse;
}

.scientist {
	margin-bottom: 20px;
}

.scientist-photo {
	display: block;
	max-width: 50%;
    height: auto;
	border-radius: 50%;
	margin: 0 auto;
}

.name {
	font-size: 1.5em;
	font-weight: bold;
	color: #1e90ff;
	margin-bottom: 0px;
}

.research-role {
	margin-top: 0px;
	font-style: italic;
	color: #000;
}

.research-areas {
	margin-top: 10px;
	font-style: italic;
	color: #555;
}

.research-contact-info {
	margin-top: 10px;
}

a {
	color: #007bff;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: #0056b3;
}

@media screen and (min-width: 768px) {
	.scientist-wrapper {
		justify-content: space-between;
		flex-direction: row;
	}

	.scientist-photo {
		display: block;
		max-width: 30%;
		height: fit-content;
		border-radius: 40px;
		margin: 20px 0 0 0
	}

	.scientist {
		margin-bottom: 20px;
		max-width: 65%;
	}
}
