.hero-bg {
	background: linear-gradient(to right, #fff, #007bff);
}

.main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	min-height: 73vh; /* Do zmiany*/
}

.main-image img {
	max-width: 100%;
}

.main-text {
	flex: 1;
	padding-left: 40px;
	color: #333;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-text h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

.main-text p {
	font-size: 18px;
}
