.downloadPdf {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	transition: background-color 0.3s;
}

.downloadPdf:hover {
	background-color: #45a049;
}
