.downloadPdf {
	display: inline-block;
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
	transition: background-color 0.3s;
}

.downloadPdf:hover {
	background-color: #45a049;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	gap: 10px;
}

aside nav ul {
	list-style: none;
}

aside nav ul li {
	border: solid none;
	border-radius: 4px;
	background-color: lightgray;
	padding: 5px;
	margin-bottom: 10px;
}

aside nav ul li a {
	text-decoration: none;
	color: black;
}

aside nav ul li a:hover {
	color: blue;
}

aside {
	width: calc(30% - 10px);
	position: relative;
}

aside nav {
	position: sticky;
}

.sections_wrapper {
	width: calc(70% - 10px);
}

@media screen and (max-width: 768px) {
	aside {
		display: none;
	}

	.sections_wrapper {
		width: 100%;
	}
}
